body {
    color: var(--kg-primary);
    font-family: var(--kg-typeface-1);
}
.site-header {
    background-color: var(--kg-primary);
    color: var(--white);
    display: grid;
    grid-gap: 16px;
}
.site-header, .site-content, .site-footer {
    padding: 16px;
}
.header-primary__links, .header-social__links {
    margin: 0;
    padding: 0;
}
.header-primary__link, .header-social__link {
    display: inline-block;
}
.header-primary__link:not(:last-child) {
    margin-right: 24px;
}
.header-social__link:not(:last-child) {
    margin-right: 4px;
}
.header-social__link .anchor {
    font-size: 24px;
}
.header-introduction {
    display: grid;
    grid-gap: 16px;
}
.header-introduction__logo {
    border: solid 0.25em var(--kg-secondary);
    border-radius: 100%;
    margin: 0 auto;
    max-width: 184px;
    overflow: hidden;
}
.header-contact .paragraph {
    margin-bottom: 16px;
}

.layout-resume header {
    margin-bottom: 48px;
}
.layout-resume .grid {
    display: grid;
    grid-gap: 32px;
}
@media screen and (min-width: 1023px) {
    .site-grid {
        display: grid;
        grid-template-columns: [sidebar] 400px [content] 1fr;
    }
    .site-content, .site-footer {
        grid-column: content;
    }
    .site-header, .site-content, .site-footer {
        padding: 64px 32px;
    }
    .site-header {
        grid-column: sidebar;
        grid-gap: 32px;
        height: 100vh;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        grid-template-rows: max-content;
    }
    .header-introduction {
        display: grid;
        grid-gap: 32px;
    }
    .header-introduction__logo {
        margin: auto 0;
    }
    .header-social, .header-contact {
        align-self: end;
    }
}