<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

  {% seo %}

  <!-- styles -->
  <link href="/dist/index.css" media="all" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Source+Code+Pro:400,600" rel="stylesheet">
  <!-- end styles -->

  <!-- scripts -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
    crossorigin="anonymous">
  <!-- end scripts -->
</head>