<section id="work" class="section section-content">
  <div class="container">
    <div class="introduction">
      <h2>{{ page.work-header}}</h2>
      <a href="#">{{ page.work-archive}} <i class="fas fa-arrow-right"></i></a>
    </div>

    <div class="content content-list">
      {% for item in site.work %}
        <article class="content-item">
          <div class="content-image">
            <img src="{{ item.image }}" alt="{{ item.image-alt }}">
          </div>
          <div class="content-details">
            <h3 class="content-title">{{ item.title }}</h3>
            <p class="content-excerpt">{{ item.excerpt }}</p>
          </div>
          <a href="{{ item.url }}" class="btn btn-primary">
            View Case Study
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
</section>