<!-- section: hero -->
<section class="hero">
    <div class="hero__body">
        <div class="hero__content">
            <h1 class="hero__heading">
                {{ page.title }}
            </h1>
            {% for hero-content in page.hero %}
	        {% if page.layout == 'post' %}
            <p class="hero__project">
                {{ hero-content.name }}
            </p>
            <p class="hero__company">
                {{ hero-content.company | append: "," }} {{ hero-content.year }}
            </p>
            {% endif %}
            <div class="hero__description">
                {{ hero-content.body | markdownify }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% for hero-content in page.hero %}
    <div class="hero__image" style="background-image: url('{{ hero-content.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        {% endfor %}
    </div>
</section>
<!-- end section -->
