<section id="work" class="section section-content">
	<div class="container">
		<div class="introduction">
			<h2>{{ page.work-header}}</h2>
		</div>
		<div class="grid">
			{% for item in site.work %}
			<article class="content-item grid-item span-1">
				<div class="content-image">
					<img src="{{ item.image }}" alt="{{ item.image-alt }}">
				</div>
				<div class="content-details">
					<h3 class="content-title">{{ item.title }}</h3>
					<p class="content-excerpt">{{ item.excerpt }}</p>
				</div>
				<a href="{{ item.url }}" class="btn btn-secondary">
					View Case Study
				</a>
			</article>
			{% endfor %}
		</div>
	</div>
</section>