<section id="contact" class="section section-content">
  <div class="container">
    <div class="grid align-items-center">
      <div class="grid-item span-1">
        <div class="introduction">
          <h2>{{ site.contact-header }}</h2>
        </div>
        {{ site.contact-subheader | markdownify }}
        <a href="{{ item.url }}" class="btn btn-secondary">
          Send Me a Message
        </a>
      </div>
      <div class="grid-item span-2">
        <img src="http://placecorgi.com/800/400" />
      </div>
    </div>
    {% include nav-social.html %}
  </div>
</section>