<!doctype html>
<html lang="en">

{% include site-meta.html %}

<body class="site-grid">
	<header class="site-header">
		<nav role="navigation" class="site-header__nav">
			<ul>
				{% for link in site.data.navigation %}
				<li><a href="{{ link.href }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<div class="site-header__intro">
			<img src="#" alt="">
			<h1>Hi I'm Kirsten</h1>
			<p>I’m a Product Designer working on web applications in the Washington, D.C. area.</p>
		</div>
		<div class="site-header__contact">
			<p>I’m currently looking for work and, if you are interested in working together, let me know!</p>
			<a href-"#">Send me a message</a>
			<p>Social Icons</p>
		</div>
	</header>
	<main class="site-content">
		{{ content }}
	</main>
	<footer class="site-footer">
		<p>{{site.copyright}}</p>
	</footer>
</body>

</html>