/* site grid */
.grid {
  display: grid;
  grid-template-rows: [header] 1fr [content] auto;
}

.header {
  background-color: var(--brand-primary);
  color: var(--white);
  display: grid;
  grid-gap: 16px;
  grid-row: header;
}

.headerLogo img {
  border-radius: 50%;
  overflow: hidden;
  border: solid 4px var(--brand-secondary);
  padding: 8px;
  margin: 24px 0;
  max-width: 184px;
}

.headerIntroduction-title {
  font-family: var(--brand-mono);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 16px;
}

.headerIntroduction-description,
.headerContact-message {
  font-family: var(--brand-sans-serif);
  font-size: 1em;
  font-weight: 400;
}

.headerContact-message {
  margin-bottom: 16px;
}

.headerContact-anchor {
  margin-bottom: 16px;
}

.headerSocial-anchor {
  color: var(--brand-secondary);
  font-size: 1.6em;
}

.headerNavigation ul li,
.headerContact ul li {
  display: inline-block;
  list-style: none;
}

.headerNavigation-anchor,
.headerContact-anchor {
  color: var(--brand-secondary);
  font-family: var(--brand-mono);
  text-decoration: none;
}

.headerNavigation-anchor,
.headerContact-anchor {
  border-bottom: solid 2px var(--brand-secondary);
  padding: 4px 0;
}

.headerNavigation li:not(:last-of-type) {
  margin-right: 24px;
}

.content {
  grid-row: content;
}

.header,
.content,
.footer {
  padding: 16px;
}

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: [header] minmax(144px, 340px) [content] 1fr;
  }

  .header {
    grid-column: header;
    grid-row: 1;
    grid-template-rows: [navigation] auto [introduction] 1fr 1fr [contact] 1fr;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .headerNavigation {
    grid-row: navigation;
  }

  .headerIntroduction {
    grid-row: introduction;
  }

  .headerContact {
    grid-row: contact;
  }

  .content {
    grid-column: content;
    grid-row: 1;
    padding: 24px;
  }

  .header,
  .footer {
    padding: 24px;
  }
}

@media screen and (min-width: 1279px) {
  .content {
    padding-top: 72px;
  }

  .header,
  .footer {
    padding: 40px;
  }

}

/* end site grid */