$primary: #FD7366;
$secondary: #0957B2;
$secondary-dark: darken($secondary, 10%);
$gray: #333333;
$gray-faded: lighten($gray, 65%);
$white: #ffffff;

$primary-font: 'Karla', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 20px;
$font-size-4: 24px;
$font-size-5: 32px;
$font-size-6: 40px;
$font-size-7: 48px;

$spacing-0: 0;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
