<section class="block-grid block-grid--split-60-40">
    <div class="block-grid-item" style="background-color: {{ page.background-color }};">
        <div class="project-introduction">
            <h1 class="project-title">
                {{ page.title }}
            </h1>
            <p class="project-name">
                {{ page.name }}
            </p>
            <p class="project-company">
                {{ page.company }}, {{ page.year }}
            </p>
            <p class="project-description">
                {{ page.description }}
            </p>
        </div>
    </div>
    <div class="block-grid-item">
        <figure>
            <img alt="{{ page.image-alt }}" class="project-image" src="{{ page.image }}">
            </img>
        </figure>
    </div>
</section>