:root {
    --navy: #384257;
    --gray: #f2f2f2;
    --gold: #f9b767;
    --white: #ffffff;

    --sans-serif: "Karla", sans-serif;
    --mono: "Source Code Pro", courier, serif;

    --kg-primary: var(--navy);
    --kg-secondary: var(--gold);
    --kg-accent: var(--gray);

    --kg-typeface-1: var(--sans-serif);
    --kg-typeface-2: var(--mono);
}

/* Box sizing rules */
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt {
    margin: 0px;
    padding: 0px;
}

body {
    /* Hide persistent scrollbar in IE (10/11) and Edge */
    -ms-overflow-style: -ms-autohiding-scrollbar;

    /* Anchor links will transition rather than skip */
    scroll-behavior: smooth;

    /* Reset font size to 1rem, in case it has a pixel value */
    font-size: 1rem;
    min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    cursor: pointer;
}
/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
    display: none;
}

/* Normalise form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    line-height: normal;
}

/* Make a search box appear like a text box */
input[type="search"] {
    -webkit-appearance: textfield;
}

/* Make images responsive */
img {
    max-width: 100%;
    display: block;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

/* mobile first */

body {
    color: var(--kg-primary);
    font-family: var(--kg-typeface-1);
    font-size: 16px;
    line-height: 1rem;
}

.block-grid {
    display: grid;
    grid-gap: 16px;
    max-width: 1024px;
    margin: auto;
}

.block-grid--full-image,
.block-grid__split-50-50,
.block-grid--split-60-40 {
    grid-template-columns: 1fr;
}

@media screen and (min-width: 959px) {
    /* multi purpose block that can contain, text, image, nothing */
    .block-grid__split-50-50 {
        grid-template-columns: repeat(2, 1fr);
    }

    /*used primarily as a page header */
    .block-grid--split-60-40 {
        grid-template-columns: 3fr 1fr;
    }
}

.project-introduction {
    border-left: solid 4px orange;
    padding: 0 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-top: -24px;
}

.project-title {
    font-family: "Source Code Pro";
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
}

.project-name {
    font-weight: bold;
    font-size: 16px;
}

.project-company {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}

.project-description {
    padding-bottom: 16px;
}

.project-image {
    border-right: solid 4px orange;
    border-bottom: solid 4px orange;
    padding: 0 16px 16px 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr repeat(2, 50px);
    grid-gap: 24px;
}

.photo-grid img {
    grid-column: 1/8;
    grid-row: 1 / span 2;
}

.photo-grid figcaption {
    padding: 24px;
    grid-column: 5/9;
    grid-row: 2/4;
    background-color: white;
    border-right: solid 4px orange;
    border-bottom: solid 4px orange;
    align-self: center;
}

.block-grid__split-50-50 .block-grid-item {
    align-self: center;
}

blockquote {
    border-left: solid 4px orange;
    padding: 24px;
    font-size: 20px;
    font-style: italic;
    align-content: center;
}
