:root {
  --navy: #384257;
  --gray: #F2F2F2;
  --gold: #F9B767;
  --white: #ffffff;

  --sans-serif: 'Karla', sans-serif;
  --mono: 'Source Code Pro', courier, serif;


  --brand-primary: var(--navy);
  --brand-secondary: var(--gold);
  --brand-accent: var(--gray);

  --brand-sans-serif: var(--sans-serif);
  --brand-mono: var(--mono);
}

body {
  font-family: var(--brand-sans-serif);
  font-size: 16px;
  line-height: 1.6;
}

.kg img {
  vertical-align: middle;
}

.grid {
  display: grid;
}

.header {
  background-color: var(--brand-primary);
  color: var(--white);
  display: grid;
  grid-gap: 8px;
}

.headerIntroduction-title {
  font-family: var(--brand-mono);
  font-size: 1.4rem;
  margin-bottom: 16px;
}

.headerIntroduction-description {
  font-size: 1rem;
}

.headerLogo {
  border-radius: 4px;
  overflow: hidden;
  max-width: 144px;
  height: 144px;
  display: block;
}

.headerContact {
  font-size: 0.8rem;
}

.headerContact-message {
  margin-bottom: 16px;
}

.headerContact li,
.headerSocial li {
  display: inline-block
}

.headerContact a,
.headerSocial a {
  color: var(--brand-secondary);
}

.headerSocial a {
  text-decoration: none;
}

.header,
.content,
.footer {
  padding: 16px;
}

@media screen and (min-width: 1023px) {
  .grid {
    grid-template-columns: [sidebar] 2fr [content] 6fr;
  }

  .header {
    position: sticky;
    top: 0;
    height: 100vh;

    /* parent-grid settings */
    grid-column: sidebar;

    /* sub-grid settings */
    display: grid;
    grid-template-rows: [navigation] 48px [introduction] 1fr 2fr [contact] 1.5fr [social] 0.5fr;
  }

  .headerNavigation {
    grid-row: navigation;
  }

  .headerIntroduction {
    grid-row: introduction;
  }

  .headerLogo {
    max-width: 288px;
    height: auto;
  }

  .headerContact {
    grid-row: contact;
  }

  .headerSocial {
    align-self: end;
    grid-row: social;
  }

  .content,
  .footer {
    grid-column: content;
  }

  .header,
  .content,
  .footer {
    padding: 24px;
  }

  .content {
    padding: 64px 24px;
  }
}

/* projects */
.projectsList {
  display: grid;
  grid-gap: 24px;
}

.project {
  display: grid;
  grid-template-rows: [project-image] auto [project-details] minmax(auto, 1fr);
}

.projectDetails {
  background-color: var(--brand-accent);
  grid-row: project-details;
}

.projectDetails-wrapper {
  border-left: solid 4px var(--brand-primary);
  padding-left: 16px;
  padding-top: 16px;
}

.projectDetails-title {
  font-family: var(--brand-mono);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 16px;
}

.projectDetails-description {
  font-family: var(--brand-sans-serif);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
}

.projectDetails-button {
  font-family: var(--brand-mono);
  font-weight: 900;
  line-height: 28px;
  font-size: 18px;
  background-color: var(--brand-secondary);
  box-shadow: 4px 4px 0 var(--brand-primary);
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
}

.projectImage {
  border-right: solid 4px var(--brand-primary);
  border-bottom: solid 4px var(--brand-primary);
  padding: 0 4px 4px 0;
  grid-row: project-image;
  overflow: hidden;
}

@media screen and (min-width: 1023px) {
  .projectsList {
    display: grid;
    grid-gap: 48px;
  }

  .project {
    display: grid;
    grid-template-columns: [project-details] 1.5fr [project-image] 1fr;
    grid-template-rows: auto;
  }

  .projectDetails {
    background-color: var(--brand-accent);
    grid-column: project-details;
    padding: 32px;
  }

  .projectDetails-wrapper {
    border-left: solid 4px var(--brand-primary);
    padding-left: 24px;
    padding-top: 0;
    position: relative;
    top: -56px;
  }

  .projectDetails-title {
    line-height: 1.4;
    font-size: 2.2rem;
  }

  .projectDetails-description {
    line-height: 1.4;
    font-size: 1.2rem;
  }

  .projectDetails-button {
    line-height: 28px;
    font-size: 18px;
  }

  .projectImage {
    border-right: solid 4px var(--brand-primary);
    border-bottom: solid 4px var(--brand-primary);
    padding: 0 4px 4px 0;
    grid-column: project-image;
    overflow: hidden;
  }
}