@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Source+Code+Pro:400,600');

:root {
  --navy: #384257;
  --gray: #F2F2F2;
  --gold: #F9B767;
  --white: #ffffff;

  --sans-serif: 'Karla', sans-serif;
  --mono: 'Source Code Pro', courier, serif;


  --brand-primary: var(--navy);
  --brand-secondary: var(--gold);
  --brand-accent: var(--gray);

  --brand-sans-serif: var(--sans-serif);
  --brand-mono: var(--mono);
}

.kg img {
  vertical-align: middle;
}

.grid {
  display: grid;
  grid-gap: 16px;
}

.header {
  background-color: var(--brand-primary);
  color: var(--white);
  display: grid;
  grid-gap: 8px;
}

.headerLogo {
  border-radius: 4px;
  overflow: hidden;
  max-width: 144px;
  height: 144px;
  display: block;
}

.header,
.content,
.footer {
  padding: 16px;
}

@media screen and (min-width: 1023px) {
  .grid {
    grid-template-columns: [sidebar] 2fr [content] 6fr;
  }

  .header {
    position: sticky;
    top: 0;
    height: 100vh;

    /* parent-grid settings */
    grid-column: sidebar;

    /* sub-grid settings */
    display: grid;
    grid-template-rows: [navigation] 48px [introduction] 1fr 2fr [contact] 1fr [social] 0.5fr;
  }

  .header__navigation {
    grid-row: navigation;
  }

  .header__introduction {
    grid-row: introduction;
  }

  .headerLogo {
    max-width: 288px;
    height: auto;
  }

  .header__contact {
    grid-row: contact;
  }

  .header__social {
    grid-row: social;
  }

  .content,
  .footer {
    grid-column: content;
  }

  .header,
  .content,
  .footer {
    padding: 40px;
  }
}

/* projects */
@media screen and (min-width: 1023px) {
  .projectsList {
    display: grid;
    grid-gap: 48px;
  }

  .project {
    display: grid;
    grid-template-columns: [project-details] 1.5fr [project-image] 1fr;
  }

  .projectDetails {
    background-color: var(--brand-accent);
    grid-column: project-details;
    padding: 32px;
  }

  .projectDetails-wrapper {
    border-left: solid 4px var(--brand-primary);
    padding-left: 24px;
    position: relative;
    top: -48px;
  }

  .projectDetails-title {
    font-family: var(--brand-mono);
    font-weight: 700;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 16px;
  }

  .projectDetails-description {
    font-family: var(--brand-sans-serif);
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .projectDetails-button {
    font-family: var(--brand-mono);
    font-weight: 900;
    line-height: 28px;
    font-size: 18px;
    background-color: var(--brand-secondary);
    box-shadow: 4px 4px 0 var(--brand-primary);
    padding: 8px 16px;
  }

  .projectImage {
    border-right: solid 4px var(--brand-primary);
    border-bottom: solid 4px var(--brand-primary);
    padding: 0 4px 4px 0;
    grid-column: project-image;
    overflow: hidden;
  }
}