.kg-primary {
    color: var(--kg-primary);
}
.kg-secondary {
    color: var(--kg-secondary);
}
.kg-accent {
    color: var(--kg-accent);
}
.bg-kg-primary {
    background-color: var(--kg-primary);
}
.bg-kg-secondary {
    background-color: var(--kg-secondary);
}
.bg-kg-accent {
    background-color: var(--kg-accent);
}