.kg-primary {
    color: var(--oxford-blue);
}
.kg-secondary {
    color: var(--rajah);
}
.kg-accent {
    color: var(--concrete);
}
.bg-kg-primary {
    background-color: var(--oxford-blue);
}
.bg-kg-secondary {
    background-color: var(--rajah);
}
.bg-kg-accent {
    background-color: var(--concrete);
}