.grid {
    display: grid;
    grid-gap: 24px;

}

.grid:not(:first-of-type) {
    margin-top: 64px;
}

.grid--100-image-caption {
    grid-template-columns: repeat(4,1fr);
}

.grid--50-50-text,
.grid--50-50-image {
    grid-template-columns: repeat(2,1fr);
}

.grid--60-40-text {
	grid-template-columns: 6fr 4fr;
}