.button {
    display: inline-block;
    background-color: transparent;
    transition: all 100ms ease-in;
    text-decoration: none;
    padding: 8px 16px;
}
.button__solid {
    box-shadow: 4px 4px 0px var(--oxford-blue);
    font-weight: 700;
}
.button__underline, .button__transparent {
    padding: 0;
}
.button__underline--secondary {
    border-bottom: solid 1px var(--rajah);
    color: var(--rajah);
}
.button__solid--secondary {
    background-color: var(--rajah);
    color: var(--oxford-blue);
}
.button__transparent--secondary {
    color: var(--rajah);
}