.cards {
    display: grid;
    grid-gap: 24px;
    padding: 48px 0;
}
.card-introduction {
    border-left: solid 4px var(--oxford-blue);
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-top: -24px;
}
.card-title {
    font-family: var(--mono);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
}
.card-name {
    font-weight: bold;
    font-size: 16px;
}
.card-company {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}
.card-description {
    padding-bottom: 16px;
}
.card-image {
    border-right: solid 4px var(--oxford-blue);
    border-bottom: solid 4px var(--oxford-blue);
    margin-bottom: 0 16px 16px 0;
}

.block-grid__split-50-50 .block-grid-item {
    align-self: center;
}
@media screen and (min-width: 1023px) {
    .cards {
        display: grid;
        grid-gap: 64px;
    }
}