.heading-1 {
    font-family: var(--mono);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.heading-2 {
    font-family: var(--sans-serif);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6rem;
}
.anchor {
    color: var(--kg-secondary);
    display: block;
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.anchor:hover {
    opacity: 0.5;
}