:root {
    --navy: #384257;
    --gray: #f2f2f2;
    --gold: #f9b767;
    --white: #ffffff;
    --sans-serif: "Karla", sans-serif;
    --mono: "Source Code Pro", courier, serif;
    --kg-primary: var(--navy);
    --kg-secondary: var(--gold);
    --kg-accent: var(--gray);
    --kg-typeface-1: var(--sans-serif);
    --kg-typeface-2: var(--mono);
}