.btn,
.btn-link {
  display: inline-block;
  text-decoration: none;
}

.btn {
  padding: 16px 24px;
}

.btn-link {
  padding: 16px 0;
}

.btn-primary {
  background-color: $primary;
  color: $white;
}

.btn-secondary {
  background-color: $secondary;
  color: $white;
}

.btn-link-secondary {
  color: $secondary;
}