.btn,
.btn-link {
  display: inline-block;
  text-decoration: none;
  transition: all 200ms ease-in;
  margin-top: 16px;
  margin-bottom: 32px;
}

.btn {
  padding: 16px 24px;
}

.btn-link {
  padding: 16px 0;
}

.btn-primary {
  background-color: $primary;
  color: $white;
}

.btn-secondary {
  background-color: $secondary;
  color: $white;
}

.btn-secondary:hover {
  background-color: $secondary-dark;
}


.btn-link-secondary {
  color: $secondary;
}

.btn-link-secondary:hover {
  color: $secondary-dark;
}