---
layout: default
---

<ul class="listing listing__projects">
    {% assign projects = site.projects | reverse %}
    {% for post in projects %}
    <li class="project">
        <div class="project__content">
            <div class="project__body">
                {% for hero-content in post.hero %}
                <h1 class="project__title">
                    {{ hero-content.name }}
                </h1>
                {% if page.layout == 'post' %}
                <p class="project__name">
                    {{ hero-content.name }}
                </p>
                <p class="project__company">
                    {{ hero-content.company | append: "," }} {{ hero-content.year }}
                </p>
                {% endif %}
                <div class="project__description wysiwyg">
                    {{ hero-content.body | markdownify }}
                </div>
                {% endfor %}
                <a class="project__anchor button button__solid button__solid--secondary" href="{{ post.url }}">
                    View project
                </a>
            </div>
        </div>
        {% for hero-content in post.hero %}
        <div class="project__image" style="background-image: url('{{ hero-content.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>