---
layout: default
---

<ul class="projectsList">
  {% for post in site.projects %}
  <li class="project">
    <div class="projectDetails">
      <div class="projectDetails-wrapper">
        <h2 class="projectDetails-title">{{ post.title }}</h2>
        <p class="projectDetails-description">{{ post.description }}</p>
        <a class="projectDetails-button" href="{{ post.url }}">View project</a>
      </div>
    </div>
    <div class="projectImage">
      <img src="{{ post.image }}" alt="{{ post.image-alt }}">
    </div>
  </li>
  {% endfor %}
</ul>