---
layout: default
---

<!-- Section 1 -->
<section class="block-grid block-grid-60-40">
    <div class="block-grid-item" style="background-color: {{ page.background-color }};">
        <div class="project-introduction">
            <h1 class="project-title">
                {{ page.title }}
            </h1>
            <p class="project-name">
                {{ page.name }}
            </p>
            <p class="project-company">
                {{ page.company }}, {{ page.year }}
            </p>
            <p class="project-description">
                {{ page.description }}
            </p>
        </div>
    </div>
    <div class="block-grid-item">
        <figure>
            <img alt="{{ page.image-alt }}" class="project-image" src="{{ page.image }}">
            </img>
        </figure>
    </div>
</section>
<!-- Section 2 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        {{ page.section-2-content-left-text }}
    </div>
    <div class="block-grid-item">
        {{ page.section-2-content-right-text }}
    </div>
</section>
<!-- Section 3 -->
<section class="block-grid block-grid--full-image">
    <div class="block-grid-item">
        <figure class="photo-block-grid">
            <img alt="{{ page.section-3-content-image-alt }}" src="{{ page.section-3-content-image }}">
                <figcaption>
                    {{ page.section-3-content-image-text }}
                </figcaption>
            </img>
        </figure>
    </div>
</section>
<!-- Section 4 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        {{ page.section-4-content-left-text }}
    </div>
    <div class="block-grid-item">
        {{ page.section-4-content-right-text }}
    </div>
</section>
<!-- Section 5 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        <figure class="photo-block-grid">
            <img alt="{{ page.section-5-content-left-image-text }}" src="{{ page.section-5-content-left-image }}"/>
        </figure>
    </div>
    <div class="block-grid-item">
        <figure class="photo-block-grid">
            <img alt="{{ page.section-5-content-right-image-text }}" src="{{ page.section-5-content-right-image }}"/>
        </figure>
    </div>
</section>
<!-- Section 6 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        {{ page.section-6-content-left-text }}
    </div>
    <div class="block-grid-item">
        {{ page.section-6-content-right-text }}
    </div>
</section>
<!-- Section 7 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        <figure class="photo-block-grid">
            <img alt="{{ page.section-7-content-left-image-text }}" src="{{ page.section-7-content-left-image }}"/>
        </figure>
    </div>
    <div class="block-grid-item">
        <figure class="photo-block-grid">
            <img alt="{{ page.section-7-content-right-image-text }}" src="{{ page.section-7-content-right-image }}"/>
        </figure>
    </div>
</section>
<!-- Section 8 -->
<section class="block-grid block-grid--50-50">
    <div class="block-grid-item">
        {{ page.section-8-content-left-text }}
    </div>
    <div class="block-grid-item">
        {{ page.section-8-content-right-text }}
    </div>
</section>
