---
layout: default
---

{% for hero-content in page.hero %}
<section class="grid grid-60-40">
    <div class="grid-item" style="background-color: {{ page.background-color }};">
        <div class="project-introduction">
            <h1 class="project-title">
                {{ hero-content.name }}
            </h1>
            <p class="project-name">
                {{ hero-content.name }}
            </p>
            <p class="project-company">
                {{ hero-content.company | append: "," }} {{ hero-content.year }}
            </p>
            <p class="project-description">
                {{ hero-content.body | markdownify }}
            </p>
        </div>
    </div>
    <div class="grid-item">
        <figure>
            <img alt="{{ hero-content.image-alt }}" class="project-image" src="{{ hero-content.image }}">
            </img>
        </figure>
    </div>
</section>
{% endfor %}


{% for section in page.sections %}
{% if section.layout == "50-50-text" %}
<section class="grid grid--50-50-text">
    <div class="grid-item">
        <div class="project-introduction">
            <p class="project-description">
                {{ section.column-1-body | markdownify }}
            </p>
        </div>
    </div>
    <div class="grid-item">
        <div class="project-introduction">
            <p class="project-description">
                {{ section.column-2-body | markdownify }}
            </p>
        </div>
    </div>
</section>
{% endif %}

{% if section.layout == "100-image-caption" %}
<section class="grid grid--100-image-caption">
    <div class="grid-item">
        <figure class="photo-grid">
            <img alt="{{ section.image-alt }}" src="{{ section.image }}">
                <figcaption>
                    {{ section.image-caption-body | markdownify  }}
                </figcaption>
            </img>
        </figure>
    </div>
</section>
{% endif %}

{% if section.layout == "50-50-image" %}
<section class="grid grid--50-50-image">
    <div class="grid-item">
        <figure class="photo-grid">
            <img alt="{{ section.image-1-alt }}" src="{{ section.image-1 }}"/>
        </figure>
    </div>
    <div class="grid-item">
        <figure class="photo-grid">
            <img alt="{{ section.image-2-alt }}" src="{{ section.image-2 }}"/>
        </figure>
    </div>
</section>
{% endif %}

{% endfor %}