---
layout: default
---

<article>
    <header>
        <h1 class="resume__header">
            {{ page.header }}
        </h1>
        <div class="resume__body" style="margin-bottom: 32px;">
           {{ page.body | markdownify }}
        </div>
        <a class="button button__solid button__solid--secondary" target="_blank" rel="noopener" href="{{ page.resume-file }}">
           {{ page.resume-button-label }}
        </a>
    </header>
    <section class="grid grid--30-70">
        {% for section in page.sections %}
        <div class="grid-item">
            <div class="wysiwyg">
                {{ section.text | markdownify }}
            </div>
        </div>
        {% endfor %}
    </section>
</article>