---
layout: default
---
<article>
    <header>
        <h1>
            About
        </h1>
        <p>
            While developing a new tool for Gartner's TalentNeuron, I was responsible for translating key data points into visualizations that help users make critical talent decisions based on what matters most to their organization's goals.
        </p>
        <a class="button button__solid button__solid--secondary" href="#">
            Download Resume
        </a>
    </header>
    <section class="grid grid--30-70">
        {% for section in page.sections %}
        <div class="grid-item">
            <div class="wysiwyg">
                {{ section.text | markdownify }}
            </div>
        </div>
        {% endfor %}
    </section>
</article>