---
layout: default
---

<!-- block: hero -->
<section class="hero">
	<div class="hero__information">
		<div class="hero__content">
			<h2>{{ page.title }}</h2>
			<strong>{{ page.company }}</strong>
			<p>{{ page.year }}</p>
			<p>{{ page.description }}</p>
		</div>
	</div>
	<div class="hero__image">
		<img src="{{ page.image }}" alt="{{ page.image-alt }}">
	</div>
</section>

<!-- Two Column: Text -->
<section class="overview">
	<div class="left-column">
		<h2>{{ page.overview-title }}</h2>
		<h3>
			Heading 3
		</h3>
		<p>
			Body Text
		</p>
		<h3>
			Heading 3
		</h3>
		<p>
			Body Text
		</p>
		<h3>
			Heading 3
		</h3>
		<p>
			Body Text
		</p>
	</div>
	<div class="right-column">
		<h3>
			Heading 3
		</h3>
		<p><em>Italic Body Text</em></p>
		<ul>
			<li>Bullet Point</li>
			<li>Bullet Point</li>
			<li>Bullet Point</li>
			<li>Bullet Point</li>
			<li>Bullet Point</li>
			<li>Bullet Point</li>
		</ul>
	</div>
</section>
<section class="photo-qoute">
	photo qoute
</section>
<section class="process">
	process text
</section>
<section class="process-text-">
	process text and qoute
</section>
<section>
	process image duo
</section>