header {
  padding: $spacing-2 $spacing-0;
  position: sticky;
  top: 0;
  background-color: $white;
  border-bottom: solid 1px $gray-faded;
  z-index: 9999;
}

.logo-container {
  max-height: 40px;
}

.section-featured {
  height: 40vh;
  background-color: $primary;
}