body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
}

a {
  text-decoration: none;
}

a:focus {
  outline: solid 2px $secondary;
  outline-offset: 4px;
}

p:not(:last-child) {
  margin: 0 0 16px 0;
}

.icon svg {
  max-width: 16px;
  max-height: 16px;
  display: inline-block;
  top: 2px;
  position: relative;
}

.introduction h1,
.introduction h2 {
  font-weight: 700;
  margin-bottom: 8px;
}

.introduction h1 {
  font-size: $font-size-7;
  line-height: 62px;
}

.introduction h2 {
  font-size: $font-size-5;
  line-height: 40px;
}

