body {
  font-family: $primary-font;
  color: $gray;
}

a {
  text-decoration: none;
}

p:not(:last-child) {
  margin: 0 0 16px 0;
}

.icon svg {
  max-width: 16px;
  max-height: 16px;
  display: inline-block;
  top: 2px;
  position: relative;
}

.section-featured .introduction h1,
.section .introduction h2 {
  font-weight: 700;
}

.section .introduction h1 {
  font-size: $font-size-6;
}
.section .introduction h2 {
  font-size: $font-size-5;
}

.section-featured  .introduction p {
  font-size: $font-size-4;
}

.section .introduction a {
  font-size: $font-size-2;
}